<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ItemsCustomMapper">

    <!--定义商品查询的sql片段-->
    <sql id="query_items_here">
        <!--使用动态sql，通过if判断，满足条件进行sql拼接-->
        <!--商品查询条件通过ItemsQueryVo包装对象中的itemsCustom属性传递-->
        <if test="itemsCustom!=null">
            <if test="itemsCustom.name!=null and itemsCustom.name!=''">
                items.name LIKE '%${itemsCustom.name}%'
            </if>
       </if>
    </sql>
    <!--商品列表查询
    parameterType传入包装对象，resultType建议返回扩展对象(设计思路，维护，可扩展，条理清晰)
    -->
    <select id="findItemsList" parameterType="po.ItemsQueryVo" resultType="po.ItemsCustom">
        SELECT items.* FROM items
        <where>
            <include refid="query_items_here"></include>
        </where>
    </select>
</mapper>